
  <%if flash[:errors].present? %>
  <strong>Please correct the following errors in form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ol>
  <% end %>


  <%= form_for @ideas do |f| %>

  <div class = "form-edit">

      <strong><%= f.label :idea_title %>:</strong><br>

    <%= f.text_area :idea_title, class: "form-control" %>  <br>
      <br>
        <strong>
      <%= f.label :idea_description %>: </strong> <br>
      <%= f.text_area :idea_description, class: "form-control" %>
      <br>
      <!-- <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.all, :id, :username, prompt: "Select user" %> -->
      <br>
      <br>
          <%= f.submit class: "btn btn-primary btn-lg"  %>
    <% end %>

    </div>
