
<% if @current_user.present? && @idea.user == @current_user %>




  <%= link_to 'Edit Your idea',edit_idea_path  %> |

 <%= link_to 'Create New idea', new_idea_path  %> |

  <%= link_to 'Delete this Idea', idea_path(@idea), method: 'delete', class: "but"%>


</nav>
<% end %>




<hr>
<br>
<h3 class ="showtitle"><%= @idea.idea_title %> by
  <%= @idea.user.username %></h3>


  <div class="jumbotron">
 <h5>Title: </h5><%= @idea.idea_title %> <br><br>

<h5>Description:  </h3><%= @idea.idea_description %>


<% if @current_user.present? %>

  <% if @current_user.liked_ideas.include?(@idea) %>
    <%= button_to 'Unlike', unlike_path(@idea.id) %>
  <% else %>
    <%= button_to 'Like', like_path(@idea.id) %>
  <% end  %>

  <% end %>

</div>



<br><br><hr>

<h3>Comments:</h3>
<br>
<% @idea.comments.each do |comment| %>

<div class ="jumbotron" > <h6 class= "username"><%= comment.user.username %> says:</h6>
  <%= comment.created_at %>
  <%= simple_format(comment.body) %>
</div>

<% end %>

<br>
<br>



<% if @current_user.present?%>
  <%= form_tag comments_path do  %>
    leave a <%= label_tag :Comment %>:
    <div class="comment">
      <%= text_area_tag :body %>
    </div>
    <%= hidden_field_tag :idea_id,"#{@idea.id}" %>
    <br>

    <%= submit_tag "Post comment"%>
  <% end  %>

  <% end %>
