
<% if @current_user.present? && @idea.user == @current_user %>|

  <%= link_to 'Edit Your idea',edit_idea_path  %> |
  <%= link_to 'Create New idea', new_idea_path  %> |
  <%= link_to 'Delete this Idea', idea_path(@idea), method: 'delete' %>

<% end %>

<hr>
<br>
<h2><%= @idea.idea_title %> by</h2>
  <h2><%= @idea.user.username %></h2>



 <h5>Title: </h5><%= @idea.idea_title %> <br>

<h5>Description:  </h3><%= @idea.idea_description %>




<h3>Comments:</h3>

<% @idea.comments.each do |comment| %>

<span class ="userC"> <%= comment.user.username %></span> <br>
  <%= comment.body %>
<hr>

<% end %>

<br>
<br>



<% if @current_user.present?%>
  <%= form_tag comments_path do  %>
    <%= label_tag :Comment %>
    <div class="comment"><%= text_field_tag :body %></div>
    <%= hidden_field_tag :idea_id,"#{@idea.id}" %>
    <br>

    <%= submit_tag "Post comment"%>
  <% end  %>

  <% end %>
