
<br>


<h1 class = "loginP">Login</h1>

<hr>

<!-- if flash is truthy print out -->
<% if flash[:error] %>
<br>
<strong><%= flash[:error] %></strong>
<br><br>
<% end %>

<!-- start of bootstrap -->

<div class = "jumbotron jumbotron-login">
<div class="form-group">

  <%= form_tag login_path do %>
  <!-- start of bootstrap -->
  <%= label_tag :email %>

  <%= email_field_tag :email,  nil, class: "form-control"  %>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, class: "form-control"  %>

  <!-- end of bootstrap -->

  <%= submit_tag 'Sign in', class: "btn btn-primary btn-lg"  %>
  <% end %>
</div>
</div>
