<h2>USER PROFILE</h2>



<hr>

<h4>VIEW IDEA'S:</h4>


<p><strong>Information about users idea:</strong>
  <%=@user.username %>
</p>

<p><strong>Required capital: $</strong>
<%= @user.capital_required %>
</p>


<ul>
  <% @user.ideas.each do |idea| %>
  <li>
  <br>


  <h3>Title</h3>
  <!-- <%= link_to idea.idea_title  %> -->

<a href="<%= idea_path(idea.id) %>">
  <%= idea.idea_title %>

  </li>


  </a>
  <% end %>
</ul>
