




<h4 class="userP">USER PROFILE IDEA'S:</h4>

<div class = "jumbotron">

<!-- <p><strong>Information about users idea:</strong>
  <%=@user.username %>
</p>

<p><strong>Required capital: $</strong>
<%= @user.capital_required %>
</p>
<h3>Title</h3> -->

<ul class ="youridea">
  <% @user.ideas.each do |idea| %>
  <br>

  <li class ="youridea">


  <!-- <%= link_to idea.idea_title  %> -->

<a href="<%= idea_path(idea.id) %>">
  <%= idea.idea_title %>

  </li>


  </a>

  <% end %>
</ul>
</div>
