<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  </head>

  <!-- <h4><%=link_to 'Browse Startup ideas', ideas_path %></h4> | -->
  <!-- <h4><%= link_to 'Create New Idea', ideas_path %> </h4>  |------------------------------------------------------------------------------------------------ -->
  <body class ="container-fluid">

  <nav>

  <p><%=link_to 'Browse Startup ideas', ideas_path %></p>


<%if @current_user.present? %>
Welcome, <%= @current_user.username %>
|

<span class ="floatr"><strong>  <%= link_to 'Logout', login_path, method: 'delete'  %> </span></strong>
  |
<strong>  <%= link_to 'Your profile', user_path(@current_user) %> </strong>
<% else %>
  -----<span class = "floatlogin"><%= link_to 'login', login_path %>
<%= link_to 'signup', new_user_path %>
<% end %></span>
</nav>


    <%= yield %>
  </body>
</html>
